gym
pandas
nbsphinx
sphinx-hoverxref
ipykernel
numpy
yfinance
alphavantage
datetime
finvizfinance
requests
seaborn
matplotlib
pandas_datareader
FundamentalAnalysis
financedatabase
pyEX
quandl
YahooFinancials 
