gym
pandas
sphinx
nbsphinx
sphinx-hoverxref==1.0.0
ipykernel
numpy
yfinance
alphavantage
datetime
finvizfinance
requests
seaborn
matplotlib
pandas_datareader
FundamentalAnalysis
financedatabase
pyEX
quandl
yahoofinancials 
