sphinx-panels
gym
pandas
pandoc
sphinx
nbsphinx
sphinx-press-theme
sphinx-hoverxref
sphinx-tabs
ipykernel
numpy
yfinance
alphavantage
datetime
finvizfinance
requests
seaborn
matplotlib
pandas_datareader
FundamentalAnalysis
financedatabase
pyEX
quandl
yahoofinancials 
